@media (max-width: 480px) {
    .header {
      display: grid;
      background-color: yellow;
      height: 200px;
    }
    .logo {
      height: 100px;
    }
    .title {
      padding: 30px 30px 30px 20px;
      grid-area: 1/1/1/1;
    }
    .container_movies {
      background-color: red;
      display: grid;
      grid-template-columns: 1fr 1fr ;
    }
    .trend {
      display: grid;
      grid-template-columns: 1fr 1fr ;}
  }
  
  @media (max-width: 410px) {
    .container_movies {
      background-color: red;
      display: grid;
      grid-template-columns: 1fr;
    }
    .trend {
      display: grid;
      grid-template-columns: 1fr;}
  }