
  body {
    text-align: center;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: yellow;
    height: 100%;
  }
  .header__title {
    
    padding: 10px 30px 30px 20px;
    grid-area: 1/1/1/1;
  }
  .header__logo {
   grid-area: 1/2/1/2;
    width: 100px;
    height: 100px;
  margin: 30px;
  }
  .navigation {
    grid-area: 1/1/1/1;
  }
  .link {
    text-decoration: none;
    cursor: pointer;
    }
  .link:hover{
    color:red;
  }
.input{
    margin-left: 10px;
    border-radius: 20ch;
  }
  .button {
    border-radius: 20ch;
    background-color: greenyellow;
    padding: 10px;
    transition: transform .1s linear;
  }
  .button:hover{
    background: green;
    transform: scale(1.09)
  }
  