.navigation {
   display: grid;
   grid-template-columns: 100px 1fr;
    position: sticky;
    top:0;
    height: 3.5rem;
    min-height: 70px;
    background-color: #2b2d42;
    z-index: 2;
   }
   .navigation_ul{
     display: flex
   
   }
   .navigation_li{
     list-style: none;
     margin: 10px auto;
   }
   
   .navigation__link {
    text-decoration: none;
    color: white;
    padding: 2rem;
   }
   .navigation__link:hover {
  border-bottom: 1px solid white;
   }

   .navigation__logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin:auto;
    box-shadow:  0 0 10px #000000
  }
   

  @media (max-width: 695px) {
    .navigation {
      grid-template-columns: 50px 1fr;
      }
    
      .navigation_li{
        margin:auto;
      }
      .navigation_ul{
        display: inline
      }
      
      .navigation__link {
       padding: 1rem;
       font-size: 0.5rem;
       font-weight: bold;
       letter-spacing: 0.2px;
      }
   
      .navigation__logo {
       width: 30px;
       height: 30px;
     }
   
     .navigation__link:hover {
       border-bottom: 1px solid transparent;
      
       }
  }

 