.search {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .search__input {
    margin-left: 1.4rem;
    border: 1px solid transparent;
  }
  .search__input::placeholder {
    text-align: center;
}
  
  .search::after {
    content: "";
    display: block;
    height: 1.5px;
    background-color: #a2aaa2;
    width: 80%;
    margin: 5px auto
  }