body {
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: yellow;
  height: 100%;
}
.header__title {
  
  padding: 10px 30px 30px 20px;
  grid-area: 1/1/1/1;
 
}
.header__logo {
 
 grid-area: 1/2/1/2;
  width: 100px;
  height: 100px;
margin: 30px;
}

.navigation {
  grid-area: 1/1/1/1;

 
}
.link {
  text-decoration: none;
  cursor: pointer;
  
  }
.link:hover{
  color:red;
}

.container_movies {
  
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
 
  
}
.trend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  
  
}
.div_trend {
  
  border: 1px red solid;
  margin: 5px;
  
}
.movies_div{
  margin: 5px;
}
.input{
  margin-left: 10px;
  border-radius: 20ch;
}
.button {
  border-radius: 20ch;
  background-color: greenyellow;
  padding: 10px;
  transition: transform .1s linear;
}
.button:hover{
  background: green;
  transform: scale(1.09)
}

@media (max-width: 480px) {
  .header {
    display: grid;
    background-color: yellow;
    height: 200px;
  }
  .logo {
    height: 100px;
  }
  .title {
  
    padding: 30px 30px 30px 20px;
    grid-area: 1/1/1/1;
  }
  .container_movies {
  
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  .trend {
    display: grid;
    grid-template-columns: 1fr 1fr ;}
}

@media (max-width: 410px) {
  .container_movies {
  
    background-color: red;
    display: grid;
    grid-template-columns: 1fr;
  }
  .trend {
    display: grid;
    grid-template-columns: 1fr;}
}



